
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Add Teacher Details </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> First Name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="teacher.tname"
                            name="firstName">
                    </div>

                    <div class="form-group">
                        <label>  SurName</label>
                        <input type="text" class="form-control" id="surName" [(ngModel)]="teacher.tsurname"
                            name="surName">
                    </div>

                    <div class="form-group">
                        <label> Email Id</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="teacher.email"
                            name="emailId">
                    </div>
                    <div class="form-group">
                        <label> Phone No</label>
                        <input type="text" class="form-control" id="phone" [(ngModel)]="teacher.tphone"
                            name="phone">
                    </div>
                    <div class="form-group">
                        <label> Designation</label>
                        <input type="text" class="form-control" id="designation" [(ngModel)]="teacher.designation"
                            name="designation">
                    </div>
                    <br>
                    <div class="d-grid gap-2"><button class="btn btn-success" type="submit">Submit</button></div>

                </form>
            </div>
        </div>
    </div>
</div>