
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center">Add Course Details</h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Course Name</label>
                        <input type="text" class="form-control" id="coursename" [(ngModel)]="course.courseName"
                            name="coursename">
                    </div>

                    <div class="form-group">
                        <label> Duration </label>
                        <input type="text" class="form-control" id="duration" [(ngModel)]="course.duration"
                            name="duration">
                    </div>

                    <div class="form-group">
                        <label> Course Fees</label>
                        <input type="text" class="form-control" id="cousrefees" [(ngModel)]="course.courseFees"
                            name="coursefees">
                    </div>
                    <br>
                    <div class="d-grid gap-2"><button class="btn btn-success" type="submit">Submit</button></div>

                </form>
            </div>
        </div>
    </div>
</div>