<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item dropdown">
        <button ngbDropdownToggle class="nav-link dropdown-toggle" style="color:black"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teacher
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" routerLink="teachers" routerLinkActive="active">Teacher List</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="addTeacher" routerLinkActive="active">Add Teacher</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <button ngbDropdownToggle class="nav-link dropdown-toggle" style="color:black"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" routerLink="students" routerLinkActive="active">StudentList</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="addStudent" routerLinkActive="active">Add Student Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <button ngbDropdownToggle class="nav-link dropdown-toggle"  style="color:black" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Batches
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" routerLink="batches" routerLinkActive="active">Batches List</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="addBatch" routerLinkActive="active">Add Batch Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <button ngbDropdownToggle class="nav-link dropdown-toggle" style="color:black"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Course
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" routerLink="courses" routerLinkActive="active">Courses List</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="addCourse" routerLinkActive="active">Add Course Details</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <button ngbDropdownToggle class="nav-link dropdown-toggle" style="color:black"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Department
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" routerLink="departments" routerLinkActive="active">Department List</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="updateDepartment" routerLinkActive="active">Update Department Details</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>
<div class="text-center">
  <h1 class="text-center" style="color: brown; font-weight: bolder;">{{ title }}</h1>
</div>

<div class="container">
  <router-outlet></router-outlet> 
</div>
<footer class="footer">
  <div class = "container">
      <span>All Rights are Reserved Sarthak #2023 </span>
  </div>
</footer>