<h3> View Student Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{student.sfirstname}}
    </div>
    <div>
        <label> <b>  SurName: </b></label> {{student.surname}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{student.semail}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{student.sphone}}
    </div>
    <div>
        <label> <b> Class: </b></label> {{student.seduc}}
    </div>
    <div>
        <label> <b> Student Address</b></label> {{student.saddress}}
    </div>
</div>

