
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Add Batch Details </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Batch Name</label>
                        <input type="text" class="form-control" id="BatchName" [(ngModel)]="batches.bname"
                            name="BatchName">
                    </div>

                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" class="form-control" id="subject" [(ngModel)]="batches.subject"
                            name="subject">
                    </div>

                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" class="form-control" id="startdate" [(ngModel)]="batches.startdate"
                            name="startdate">
                    </div>
                    <div class="form-group">
                        <label>End Date Date</label>
                        <input type="date" class="form-control" id="enddate" [(ngModel)]="batches.enddate"
                            name="enddate">
                    </div>
                    <div class="form-group">
                        <label>Duration</label>
                        <input type="text" class="form-control" id="duration" [(ngModel)]="batches.duration"
                            name="duration">
                    </div>
                    <br>
                    <div class="d-grid gap-2"><button class="btn btn-success" type="submit">Submit</button></div>

                </form>
            </div>
        </div>
    </div>
</div>